<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="{{ STATIC_URL }}favicon.png" rel="icon" />
	<title>{% block PAGE_TITLE %}GeoLead{% endblock %}</title>
	{%- block EXTRA_HEAD %}{% endblock -%}
</head>
<body>
	<div class="wrapper">
		{%- block PAGE_CONTENT %}{% endblock -%}
	</div>

	<link rel="stylesheet" href="{{ static_with_mtime('css/uikit.min.css') }}" />
	<link rel="stylesheet" href="{{ static_with_mtime('css/core.css') }}" />
	<link rel="stylesheet" href="{{ static_with_mtime('css/jquery.datetimepicker.css') }}" />
	<script src="{{ static_with_mtime('js/jquery-3.2.1.min.js') }}"></script>
	<script src="{{ static_with_mtime('js/uikit.min.js') }}"></script>
	<script src="{{ static_with_mtime('js/jquery.datetimepicker.full.min.js') }}"></script>
	<script src="{{ static_with_mtime('js/core.js') }}j"></script>
</body>
</html>
