<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>GeoLead</title>
</head>
<body>
	<div class="wrapper">
		{%- block PAGE_CONTENT %}{% endblock -%}
	</div>

	<link rel="stylesheet" href="{{ STATIC_URL }}css/uikit.min.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/core.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.datetimepicker.css" />
	<script src="{{ STATIC_URL }}js/jquery-3.2.1.min.js"></script>
	<script src="{{ STATIC_URL }}js/uikit.min.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.datetimepicker.full.min.js"></script>
	<script src="{{ STATIC_URL }}js/core.js"></script>
</body>
</html>
