.wrapper {
  margin: 0 auto;
  max-width: 1800px;
  font-size: 14px;
  padding: 0 30px;
}

.tright {
  text-align: right;
}

.red {
  color: red;
}

.float-right {
  float: right;
}

.form {
  .errors {
    color: red;
  }

  &-controls {
    max-width: 100%;
  }

  .hint {
    color: #aaa;
    font-size: 13px;
    line-height: 17px;
  }
}

.messages {
  list-style: none;
  padding: 20px;
  margin: 0 0 20px;

  .error {
    color: #C10600;
  }
}

.header {
  max-width: 460px;
}

.report-settings {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;

  .inner {
    display: block;
  }

  .form {
    margin: 20px auto;
    max-width: 460px;
  }
}

.reports-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 0;
  max-width: 1000px;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 10px;
    padding: 20px;
    border: 1px solid #eee;
    vertical-align: top;

    .icon {
      height: 120px;
      display: block;
      font-size: 100px;
      line-height: 100px;
      padding: 0 0 20px;
    }

    .title {
      display: inline-block;
      height: 72px;
      line-height: 72px;

      .inner {
        display: inline-block;
        line-height: 24px;
        vertical-align: middle;
      }
    }
  }

  a {
    width: 260px;
    height: 200px;
    display: block;
    color: #333;
    text-decoration: none;
    transition: all .3s ease;

    &:hover,
    &:focus {
      color: #999;
    }
  }
}

.nowrap {
  white-space: nowrap;
}

.global-warning {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.report {
  margin: 20px 0;

  .table-wrap {
    width: 100%;
  }

  .detailed {
    background: #eee;

    @media print {
      background-color: #eee !important;
      -webkit-print-color-adjust: exact;
    }

    &.hidden {
      display: none;
    }
  }

  .report-table {
    width: 100%;
    border-collapse: collapse;

    thead {
      td {
        text-align: center;
        white-space: nowrap;
      }
    }

    td {
      border: 1px solid #000;
      padding: 4px 6px;

      &.td-small {
        font-size: 11px;
      }

    }
  }

  .grouping {
    cursor: pointer;

    .icon-expand {
      cursor: pointer;
      width: 16px;
      display: inline-block;

      &:before {
        content: '';
        font-size: 16px;
      }
    }

    &.collapsed {
      .icon-expand {
        &:before {
          content: '+';
        }
      }
    }

    &.expanded {
      .icon-expand {
        &:before {
          content: '-';
        }
      }
    }
  }
}

.red {
  color: red;
}

.select2-container {
  display: block;
  width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single {
  line-height: 40px;
  height: 40px;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #e5e5e5;
  border-radius: 0;
}

.select2-selection__rendered {
  line-height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px;
}
